<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<log4net>
    
   <appender name="ChessLog" type="log4net.Appender.RollingFileAppender" >
      <param name="File" value="ChessLog.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="[Log Starts]%newline" />
        <footer type="log4net.Util.PatternString" value="[Log Ends]%newline%newline" />
        <conversionPattern value="%date %level [%thread] %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="ChoiseStatuatteLog" type="log4net.Appender.RollingFileAppender" >
      <param name="File" value="ChoiseStatuatteLog.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="[Log Starts]%newline" />
        <footer type="log4net.Util.PatternString" value="[Log Ends]%newline%newline" />
        <conversionPattern value="%date %level [%thread] %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="ChessLog" />
    </root>
    
    <logger additivity="false" name="ChoiseStatuatteLog">
      <level value="ALL"/>
      <appender-ref ref="ChoiseStatuatteLog" />
    </logger>
  
  </log4net>
</configuration>